block vars
  -
    siteTitle = "星駆水族館｜くらげが有名な水族館"
    descri = "くらげが有名な水族館のサイトです。石川にあります。"
  -
    pages = [
      {
        url: "company",
        parent: "index",
        title: "楽しい仲間",
        layer: 2,
      },
      {
        url: "",
        parent: "index",
        title: "営業案内・料金",
        layer: 2,
      },
      {
        url: "",
        parent: "index",
        title: "アクセス",
        layer: 2,
      },
      {
        url: "",
        parent: "index",
        title: "フロア",
        layer: 2,
      },
      {
        url: "",
        parent: "index",
        title: "SDGsの取り組み",
        layer: 2,
      }
    ]
if layer <= 1
  -var rp = "./"
else
  -var rp = "../".repeat(layer - 1)
if pageTitle != ""
  -siteTitle = pageTitle + " - " + siteTitle

doctype html
html(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#', lang="ja")
  head
    //- meta系
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{siteTitle}
    meta(name="description", content=descri)
    meta(name="keywords", content=keywords)
    //- GA,GTMタグ
    include _gaTag
    //- viewport
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- block viewport
      script(src="js/viewport.min.js")
    //- link
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kosugi+Maru&family=RocknRoll+One&display=swap", rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    
    //- OGPタグ
    include _ogpTag
  body(class="page-" + pageSlug)
    include _header
    main
      if pageSlug !== "index"
        section.under-mv
          img(src="img/bg-"+pageSlug+".jpg", alt="")
          h1: span=pageSlug
            br
            span #{pages.pageSlug.title}
      block main
        section.1tume １つめ
        section.2tume ２つめ
        section.3tume ３つめ
    include _footer
    block footer_script
      //- JS系
      script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js" integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer")
      script(src="js/main.min.js")
